<!-- <div *ngIf="isLoggedIn; else helloMessage">
  <p>Welcome Back, How you doing?</p>
</div>

<ng-container *ngTemplateOutlet="isLoggedIn ? welcomeMessage : helloMessage"></ng-container> -->

<div>
  <h2>Blog List</h2>
  <ng-content></ng-content>
  <!-- <app-blog>
    <p>this is second app blog.</p>
    <button (click)="removeButton()">Remove</button>
    <button (click)="removeButton()">Add</button>
  </app-blog> -->
  <button (click)="OnClickChange()" style="margin-top: 15px;">Change It</button>
</div>


<input type="text" [(ngModel)]="name" >
{{ name }}

<!-- <ng-container *ngIf="showBlog"> -->
<!-- </ng-container> -->
<!-- <ng-template #helloMessage>
  <p>Hello Savalan this is from template</p>
</ng-template>

<ng-template #welcomeMessage>
  <p>Welcome Back, How you doing?</p>
</ng-template> -->

<!-- <ng-template [ngTemplateOutlet]="helloMessage" [ngOutletContext]="context">
</ng-template> -->

Switch Case with template - done
ng content - done
contentChild - done
